<dialog-component class="popup-link">
  <button on:click="/showDialog" class="button button-unstyled popup-link__button text-left spacing-style " style="--padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;">Size Guide - Crewneck Sweatshirt
<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 11.25v1c0 1.105-.895 2-2 2h-4.5c-1.105 0-2-.895-2-2v-4.5c0-1.105.895-2 2-2h1" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"></path><path d="M14.75 5.25h-3m3 0v3m0-3-4 4" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round" stroke-linejoin="round"></path></svg>
</button>

  <dialog ref="dialog" class="popup-link__content dialog-modal color-scheme-1" scroll-lock="">
    <div class="popup-link__inner">
      





<style>
  
</style>
<div class="
    
    group-block
    group-block--height-fit
    group-block--width-fill
    border-style
    spacing-style
    size-style
    
    
  " style="
    --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

    --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
    --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-testid="group-block"><div class="group-block__media-wrapper">
    

    
  </div>

  <div class="
      group-block-content
      
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap;


--gap: 12px;

--horizontal-alignment: flex-start; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  





<style>
  
</style>
<div class="
    
    group-block
    group-block--height-fit
    group-block--width-fill
    border-style
    spacing-style
    size-style
    
    
  " style="
    --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

    --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
    --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-testid="group-block"><div class="group-block__media-wrapper">
    

    
  </div>

  <div class="
      group-block-content
      
      layout-panel-flex
      layout-panel-flex--row
       mobile-column
    " style="--flex-direction: row; --flex-wrap: nowrap;


--gap: 12px;

--horizontal-alignment: flex-start; --vertical-alignment: flex-start;
--vertical-alignment-mobile: flex-start;
">
  





<style>
  
</style>
<div class="
    
    group-block
    group-block--height-fit
    group-block--width-fill
    border-style
    spacing-style
    size-style
    
    
  " style="
    --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

    --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
    --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-testid="group-block"><div class="group-block__media-wrapper">
    

    
  </div>

  <div class="
      group-block-content
      
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap;


--gap: 12px;

--horizontal-alignment: flex-start; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  







  <rte-formatter class=" spacing-style text-block text-block--AVDZubFdBUm9NLzc0d__text_hRtxnA rte 
     rte 
  " style="
    --padding-block-start: 0px; --padding-block-end:16px; 
--padding-inline-start:0px; --padding-inline-end:0px; 

    

    --width: fit-content;
    --max-width: var(--max-width--body-normal);
    
    
  ">
    <p><strong>Size Guide</strong></p>
  </rte-formatter>













  <rte-formatter class=" spacing-style text-block text-block--AUE01cHFWM3hrOERZS__text_aKB8Xb rte 
     rte 
  " style="
    --padding-block-start: 0px; --padding-block-end:0px; 
--padding-inline-start:0px; --padding-inline-end:0px; 

    

    --width: fit-content;
    --max-width: var(--max-width--body-normal);
    
    
  ">
    <p>All apparel is unisex with a relaxed fit. Measurements are in inches. <br><br>Unsure of sizing? Reach out to us at help@pupsentials.com</p>
  </rte-formatter>






</div>
</div>









  






  
    
  




  <div class="
    image-block image-block--Aa1VTY0pMUVBGRHBaV__image_ncwqnc image-block--height-fit spacing-style size-style border-style 
  " style="
  --ratio: 0.9194214876033058;
  --size-style-width: fit-content;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
  --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
  --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

">
    
<img src="//www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=3840" alt="" srcset="//www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=300 300w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=450 450w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=600 600w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=750 750w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=900 900w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1050 1050w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1200 1200w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1350 1350w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1500 1500w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1650 1650w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1800 1800w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=1950 1950w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=2000 2000w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=2500 2500w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=3000 3000w, //www.pupsentials.com/cdn/shop/files/Mask_group_9.png?v=1750972202&amp;width=3500 3500w" width="445" height="484" class="image-block__image" sizes="auto, (min-width: 750px) 100vw, 100vw">

  </div>






</div>
</div>









  






  
    
  




  <div class="
    image-block image-block--ARnZha1NVNHVxVnJZO__image_6NY3xY image-block--height-fit spacing-style size-style border-style 
  " style="
  --ratio: 2.5643153526970957;
  --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
  --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
  --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

">
    
<img src="//www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=3840" alt="" srcset="//www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=300 300w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=450 450w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=600 600w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=750 750w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=900 900w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1050 1050w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1200 1200w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1350 1350w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1500 1500w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1650 1650w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1800 1800w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=1950 1950w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=2000 2000w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=2500 2500w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=3000 3000w, //www.pupsentials.com/cdn/shop/files/Group_3637.png?v=1750972288&amp;width=3500 3500w" width="1236" height="482" class="image-block__image" sizes="auto, (min-width: 750px) 100vw, 100vw">

  </div>






</div>
</div>





    </div>
    <button ref="closeButton" on:click="/closeDialog" class="button popup-link__close" aria-label="Close dialog"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 2L2 12" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round" stroke-linejoin="round"></path>
  <path d="M12 12L2 2" stroke="currentColor" stroke-width="var(--icon-stroke-width)" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
</button>
  </dialog>
</dialog-component>