<div class="
    promise-block
    group-block
    group-block--height-fit
    group-block--width-fill
    border-style
    spacing-style
    size-style
    
    
  " style="
    --border-width: 2px; --border-style: solid; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
8px;  overflow: hidden; 

    --padding-block-start: 20px;--padding-block-end: 20px;--padding-inline-start: max(20px, calc(var(--spacing-scale) * 35px));--padding-inline-end: max(20px, calc(var(--spacing-scale) * 35px));
    --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-shopify-editor-block="{&quot;id&quot;:&quot;template--16872662925360__main__product-details__group_ddWGGC&quot;,&quot;domId&quot;:&quot;AcEN2clV1bUVWVGdJW__group_ddWGGC&quot;,&quot;contentFor&quot;:&quot;blocks&quot;}" data-testid="group-block"><div class="group-block__media-wrapper">
    

    
  </div>

  <div class="
      group-block-content
      group-block-content--design-mode
      layout-panel-flex
      layout-panel-flex--row
       mobile-column
    " style="--flex-direction: row; --flex-wrap: nowrap;


--gap: 16px;

--horizontal-alignment: flex-start; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  












  <div class="
  image-block image-block--ARzc3bmFqWVQrMkZzV__image_Dg3QWf image-block--height-fit spacing-style size-style border-style
" style="
  --ratio: 0.7708333333333334;
  --size-style-width:10%;--size-style-height: fit;
  --size-style-width-mobile:10%; --size-style-width-mobile-min:10%;
  --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
  --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

" data-shopify-editor-block="{&quot;id&quot;:&quot;template--16872662925360__main__product-details__group_ddWGGC__image_Dg3QWf&quot;,&quot;domId&quot;:&quot;ARzc3bmFqWVQrMkZzV__image_Dg3QWf&quot;,&quot;contentFor&quot;:&quot;blocks&quot;}">
    
<img src="//cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=3840" alt="" srcset="//cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=300 300w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=450 450w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=600 600w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=750 750w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=900 900w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1050 1050w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1350 1350w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1500 1500w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1650 1650w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1800 1800w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=1950 1950w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=2000 2000w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=2500 2500w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=3000 3000w, //cdn.shopify.com/s/files/1/0260/1172/9968/files/Layer_1_3_c298cf1a-1ce0-44de-991b-07292d0238ab.png?v=1750971485&amp;width=3500 3500w" width="74" height="96" class="image-block__image" sizes="auto, (min-width: 750px) 100vw, 100vw">

  </div>











<style data-live-text-setting="cusotmcss">
  
</style>
<div class="
    
    group-block
    group-block--height-fit
    group-block--width-fill
    border-style
    spacing-style
    size-style
    
    
  " style="
    --border-width: 1px; --border-style: none; --border-color: rgba(from
var(--color-border) r g b / 1.0); --border-radius:
0px; 

    --padding-block-start: 0px;--padding-block-end: 0px;--padding-inline-start: 0px;--padding-inline-end: 0px;
    --size-style-width: 100%;--size-style-height: fit;--size-style-width-mobile: 100%; --size-style-width-mobile-min: 5rem;
    
  " data-shopify-editor-block="{&quot;id&quot;:&quot;template--16872662925360__main__product-details__group_ddWGGC__group_i9Qw3i&quot;,&quot;domId&quot;:&quot;AWWNuOWJNc1RJUmpoO__group_i9Qw3i&quot;,&quot;contentFor&quot;:&quot;blocks&quot;}" data-testid="group-block"><div class="group-block__media-wrapper">
    

    
  </div>

  <div class="
      group-block-content
      group-block-content--design-mode
      layout-panel-flex
      layout-panel-flex--column
       mobile-column
    " style="--flex-direction: column; --flex-wrap: nowrap;


--gap: 4px;

--horizontal-alignment: flex-start; --vertical-alignment: center;
--vertical-alignment-mobile: center;
">
  







  <rte-formatter class=" spacing-style text-block text-block--AYVlIZHUwbFBkd3VpT__text_b8dPXi rte
     rte 
  " style="
    --padding-block-start: 0px; --padding-block-end:0px; 
--padding-inline-start:0px; --padding-inline-end:0px; 

    

    --width: fit-content;
    --max-width: var(--max-width--body-normal);
    
    
  " data-shopify-editor-block="{&quot;id&quot;:&quot;template--16872662925360__main__product-details__group_ddWGGC__group_i9Qw3i__text_b8dPXi&quot;,&quot;domId&quot;:&quot;AYVlIZHUwbFBkd3VpT__text_b8dPXi&quot;,&quot;contentFor&quot;:&quot;blocks&quot;}" data-live-text-setting="template--16872662925360__main__product-details__group_ddWGGC__group_i9Qw3i__text_b8dPXi.text">
    <p><strong>OUR PROMISE</strong></p>
  </rte-formatter>













  <rte-formatter class=" spacing-style text-block text-block--AZFZ0MmpydWlFTDZoM__text_DVartU rte
     rte 
  " style="
    --padding-block-start: 0px; --padding-block-end:0px; 
--padding-inline-start:0px; --padding-inline-end:0px; 

    

    --width: fit-content;
    --max-width: var(--max-width--body-normal);
    
    
  " data-shopify-editor-block="{&quot;id&quot;:&quot;template--16872662925360__main__product-details__group_ddWGGC__group_i9Qw3i__text_DVartU&quot;,&quot;domId&quot;:&quot;AZFZ0MmpydWlFTDZoM__text_DVartU&quot;,&quot;contentFor&quot;:&quot;blocks&quot;}" data-live-text-setting="template--16872662925360__main__product-details__group_ddWGGC__group_i9Qw3i__text_DVartU.text">
    <p>Obsessed or we’ll make it right. If for any reason you’re not 100% satisfied, <a href="https://www.pupsentials.com/pages/contact" target="_self">holler</a> at us and we’ll make it right.</p>
  </rte-formatter>






</div>
</div>





</div>
</div>

{% schema %}
  {
    "name": "Promise Block",
    "settings": [],
    "presets": [
      {
        "name": "Promise Block"
      }
    ]
  }
{% endschema %}